
  button {
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 10%;
    opacity: 0.9;
    margin-left: 2%;
    border-radius: 5px;
  }
  
  button:hover {
    opacity:1;
  }
  
  /* Extra styles for the cancel button */
  .cancelbtn {
    margin-top: 5%;
    padding: 14px 20px;
    background-color: #f44336;
    margin-top: 8%;
    margin-left:5%;
  }
  
  .savebtn{
    background-color: #04AA6D;
    margin-left: 2%;
  }

select,textarea{
  width: 97%;
}

.addbutton{
  background-color: #3986eb;
  margin-right: 38.5%;
}

h2{
  margin-left: 5%;
  margin-top: 1%;
}

.form-select{
  margin-right: 5%;
}

.mb-3{
 width: 90%;
 margin-left:5%;
 margin-right: 5%;
 margin-top: 4%;

}

@media (min-width: 568px) {
  .name-item, .city-item {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  }
  .name-item input, .city-item input,.name-item div {
  width: calc(50% - 20px);
  height: 40px;
  
  }
  .name-item div input {
  width:97%;}
  .name-item div label {
  display:block;
  padding-bottom:5px;
  }
  }


  //////////////////////////////////////
   /* Split the screen in half */
// .split {
//   height: 100%;
//   width: 50%;
//   position: fixed;
//   z-index: 1;
//   top: 0;
//   overflow-x: hidden;
//   padding-top: 20px;
// }

// /* Control the left side */
// .left {
//   left: 0;
  
// }

// /* Control the right side */
// .right {
//   right: 0;
//   background-color: red;
// }

// /* If you want the content centered horizontally and vertically */
// .centered {
//   position: absolute;
//   top: 50%;
//   left: 50%;
//   transform: translate(-50%, -50%);
//   text-align: center;
// }

// /* Style the image inside the centered container, if needed */
// .centered img {
//   width: 150px;
//   border-radius: 50%;
// } 