

button {
  margin-left: 5%;
  margin-top: 2%;
}
.submitbutton{
  margin-top: 90px;
}
select,textarea{
  width: 97%;
}

.addbutton{
  margin-left: 49%;
}

h2{
  margin-left: 5%;
  margin-top: 1%;
}

.form-select{
  margin-right: 5%;
}

.mb-3{
 width: 90%;
 margin-left:5%;
 margin-right: 5%;
 margin-top: 4%;

}

@media (min-width: 568px) {
  .name-item, .city-item {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  }
  .name-item input, .city-item input,.name-item div {
  width: calc(50% - 20px);
  height: 40px;
  
  }
  .name-item div input {
  width:97%;}
  .name-item div label {
  display:block;
  padding-bottom:5px;
  }
  }