<!DOCTYPE html>
<html>
  <head>
    <title>Register New Patient </title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <style>
  
    
    </style>
  </head>
  <body>
    <br><br><br>
    <h1 class="register">New Prescription</h1>
    <br><br><br>
    <div class="testbox">
      <!-- <form (ngSubmit)="onSubmit(f)" #f ="ngForm" style="border:1px solid #ccc" width="70%" > -->
          <form>
        <div class="banner">
         
        </div>
        <br>
        <div class="item">
          <div class="name-item">
            <div>
              <label for="name">Patient ID</label>
              <input id="name" type="text" placeholder="Doctor Registered ID" ngModel name= "FirstName"/>
            </div>
            <div>
              <label for="name">Subject</label>
              <input id="name"  type="text" placeholder="First Name" ngModel name= "LastName"/>
            </div>
            
          </div>
        </div>
        <div class="item">
          <div class="name-item">
            <div>
              <label for="name">Doctor Diagnosis</label>
              <input  type="name" ngModel name= "DOB"/>
              
            </div>
                <div>
                    <label for="name">Medicines</label>
                    <input  type="name" ngModel name= "DOB"/>
                    
                  </div>
          </div>
        </div>
        <div class="item">
          <div class="name-item">
            <div>
            <label for="language">Comments</label>
              <input id="language" type="text" ngModel name= "FatherName"/>
          </div>
          <div>
            <label for="language">Address</label>
              <input id="language" type="text" ngModel name= "FatherName"/>
          </div>

          </div>
        </div>
        <div class="item">
          <div class="name-item">
            <div>
              <label for="language">Contact Number</label>
              <input id="language" #Number type="text" />
             
            </div>
            <div>
            
            </div>
          </div>
        </div>
       
        <div class="clearfix">
          <button type="button"  class="cancelbtn">Cancel</button> 
      
          <button type="submit" class="savebtn ">Save</button>

      <!-- <button type="button" class="btn btn-success">Success</button>
      <button type="button" class="btn btn-danger">Danger</button> -->

    </div>
       </form> 
    </div>
  </body>
</html>