<!-- <div class="container">
<br>
<br>
<br>
    <form >
        <div class="row">
            <div class="col-half">
            <div>
              <label for="name">Doctor Registered ID</label>
              <input id="name" type="text" placeholder="Doctor Registered ID" ngModel name= "Registered"/>
            </div>
            </div>
            <div class="col-half">
                <div>
              <label for="name">First Name</label>
              <input id="name"  type="text" placeholder="First Name" ngModel name= "FirstName"/>
            </div>
            </div>
        </div>
        <div class="row">
            <div class="col-half">
                 <label for="name">LastName</label>
              <input  type="name" ngModel name= "DOB"/>
            </div>
            <div class="col-half">
                 <label for="name">Gender</label>
                <div class="input-group"><input id="gender-male" type="radio" name="gender" value="male" /><label for="gender-male">Male</label><input id="gender-female" type="radio" name="gender" value="female" /><label for="gender-female">Female</label></div>
            </div>
        </div>
  
    </form>
</div> -->





<br>
<br>
<h3>Add New Medicine</h3>
<form>
  <div class="mb-3">
    <div class="item">
      <div class="name-item">
        <div>
  
            <label for="" class="form-label">Medicine Name</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">

          
        </div>
            <div>
              <label for="exampleInputPassword1" class="form-label">Dosage</label>
              <input type="password" class="form-control" id="exampleInputPassword1">
                
              </div>
      </div>
    </div>
  </div>

  <div class="mb-3">
    <div class="item">
      <div class="name-item">
        <div>
          <label for="name">Type</label>
          <select class="form-select" aria-label="Default select example">
            <option selected>Medicine Type</option>
            <option value="1">Tablet</option>
            <option value="2">Capsules</option>
            <option value="3">Drops</option>
            <option value="3">Liquid</option>
          </select>
          
        </div>
            <div>
              <label for="exampleInputPassword1" class="form-label">Password</label>
              <input type="password" class="form-control" id="exampleInputPassword1">
                
              </div>
      </div>
    </div>
  </div>
  
  <!-- <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Password</label>
    <input type="password" class="form-control" id="exampleInputPassword1">
  </div> -->

  <div class="button">
    <button type="submit" class="btn btn-primary ">Submit</button>

  </div>
</form>