<br>
<br>
<h3>Add New Medicine</h3>
<form (ngSubmit)="onSubmit(f)" #f ="ngForm" style="border:1px solid #ccc" width="70%" >
  <div class="mb-3">
    <div class="item">
      <div class="name-item">
        <div>
  
            <label for="" class="form-label">Medicine Name</label>
            <input type="text" ngModel name="Name" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">

          
        </div>
            <div>
              <label for="" class="form-label">Dosage</label>
              <input type="text" ngModel name="Dosage"class="form-control" id="exampleInputPassword1">
                
              </div>
      </div>
    </div>
  </div>

  <div class="mb-3">
    <div class="item">
      <div class="name-item">
        <div>
          <label for="name">Type</label>
          <select ngModel name="Type" class="form-select" aria-label="Default select example">
            <option selected>Medicine Type</option>
            <option value="Capsule">Capsule</option>
            <option value="Drops">Drops</option>
            <option value="Liquid">Liquid</option>
            <option value="Tablet">Tablet</option>
          </select>
          
        </div>
            <div>
    
              </div>
      </div>
    </div>
  </div>
  

  <br>
  <div class="button">
    <button type="button" (click)="cancel()" class="cancelbtn">Cancel</button> 
    <button type="submit" class="btn btn-primary ">Submit</button>

  </div>
  <div>

    
  </div>
</form>