
<div id="container">
    <div class="d-flex vh-100 justify-content-center">
        <div class="row align-self-center">
            <div class="card m-2" style="width:350px">
                <img class="card-img-top mt-5 icon" src="/assets/pic2.png" alt="Card image">
                <div class="card-body text-center">
                    <h3 class="card-title">Register New Patient</h3>
                    
                    <p class="card-text">Create new patient record in the system</p>
                    
                    <a  class="btn btn-primary" routerLink="/patientcreate">Create</a>
                    
                    
                </div>
            </div>
 
            <div class="card m-2" style="width:350px " >
                <img class="card-img-top mt-5  icon" src="/assets/prescription.png" alt="Card image">
                <div class="card-body text-center">
                    <h3 class="card-title">Create New Prescription</h3>
                    <p class="card-text">Create new prescription for a patient </p>
                    <a  class="btn btn-primary" href="/prescriptioncreate">Create</a>
                </div>
            </div>

            <div class="card m-2" style="width:350px">
                <img class="card-img-top mt-5 icon" src="/assets/doctor3.jpg" alt="Card image">
                <div class="card-body text-center">
                    <h3 class="card-title">Register New Doctor</h3>
                    
                    <p class="card-text">Create new doctor record in the system</p>
                    
                    <a  class="btn btn-primary" routerLink="/doctorcreate">Create</a>
                      <!-- <a  class="btn btn-primary">Create</a>  -->
                    
                </div>
            </div>

            <div class="card m-2" style="width:350px">
                <img class="card-img-top mt-5 icon" src="/assets/medicine 5.png" alt="Card image">
                <div class="card-body text-center">
                    <h3 class="card-title">Enter New Medicine </h3>
                    
                    <p class="card-text">Enter new medicine to the system</p>
                    
                    <a  class="btn btn-primary" routerLink="/patientcreate">Create</a>
                      <!-- <a  class="btn btn-primary">Create</a>  -->
                    
                </div>
            </div>
     
        </div>
    </div>
</div>
