#container {
    background: #222 url("https://st2.depositphotos.com/1250282/6470/v/950/depositphotos_64705133-stock-illustration-abstract-molecules-medical-background.jpg") center center
      no-repeat;
    background-size: cover;
  }
  
  .icon {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
  // .card{
  // margin-left: 1%;
  // }