<!DOCTYPE html>
<html>
  <head>
    <title>Register New Patient </title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <style>
  
    
    </style>
  </head>
  <body>
    <br><br>
    <h1 class="register">Register New Doctor</h1>
    <br><br>
    <div class="testbox">
      <form (ngSubmit)="onSubmit(f)" #f ="ngForm" style="border:1px solid #ccc" width="70%" >
          <!-- <form> -->
        <div class="banner">
         
        </div>
        <br>
        <div class="item">
          <div class="name-item">
            <div>
              <label for="name">Doctor Registered ID</label>
              <input id="name" type="text" placeholder="Enter Doctor Registered ID" ngModel name= "id"/>
            </div>
            <div>
              <label for="name">First Name</label>
              <input id="name"  type="text" placeholder="Enter First Name" ngModel name= "FirstName"/>
            </div>
            
          </div>
        </div>
        <div class="item">
          <div class="name-item">
            <div>
              <label for="name">LastName</label>
              <input  type="name" placeholder="Enter Last Name"  ngModel name= "LastName"/>
              
            </div>
                <div>
                    <label for="name">Date of Birth</label>
                    <input  type="date" ngModel name= "DOB"/>
                    
                  </div>
          </div>
        </div>
        <div class="item">
          <div class="name-item">
           <div>
              <label for="language">Gender</label>
                <div class="input-group">
                  <input id="gender-male" type="radio" name="gender" value="male" checked ngModel name= "Gender"/>
                  <label for="gender-male">Male</label>
                  <input id="gender-female" type="radio" name="gender" value="female" ngModel name= "Gender"/>
                  <label for="gender-female">Female</label>
                </div>
            </div>
          <div>
            <label for="language">Address</label>
              <input id="language" type="text" placeholder="Enter Address"  ngModel name= "Address"/>
          </div>

          </div>
        </div>
        <div class="item">
          <div class="name-item">
            <div>
              <label for="language">Contact Number</label>
              <input id="language"  type="tel" ngModel name= "ContactNumber"/>
             
            </div>
            <div>
            
            </div>
          </div>
        </div>
       
        <div class="clearfix">
          <button type="button" (click)="cancel()" class="cancelbtn">Cancel</button> 
      
          <button type="submit" class="savebtn ">Save</button>

      <!-- <button type="button" class="btn btn-success">Success</button>
      <button type="button" class="btn btn-danger">Danger</button> -->

    </div>
       </form> 
    </div>
  </body>
</html>