<div class="mb-3">
    <div class="item">
      <div class="name-item">
        <div>
          <h3 class="prescription">View Prescription</h3>
        </div>
        <div>
          <h3 class="medicine">Medicines</h3>            
        </div>
      </div>
    </div>
  </div>
  <form  #f ="ngForm" style="border:1px solid #ccc" width="70%" >
  
    <div class="mb-3">
      <div class="item">
        <div class="name-item">
          <div>
    
            <label for="exampleInputPassword1" class="form-label">Patient ID</label>
            <input type="text" [ngModel]="patient.id" name="id" value="" readonly>
            <!-- <input [ngModel]="patient.id" name="id"> -->
            </div>
  
                <div>
                <label for="exampleInputPassword1" class="form-label">Medicine Name</label>
                <select id="MedicineID" class="form-select" aria-label="Default select example">
                  <!-- <option *ngFor="let medicine of medicines" [value]="medicine.id" >{{medicine.Name}} </option> -->
                
               
                </select>
              </div>
        </div>
      </div>
    </div>
  
    <div class="mb-3">
      <div class="item">
        <div class="name-item">
          <div>
            <label for="exampleInputPassword1" class="form-label">Subject</label>
            <!-- <input type="text" [ngModel]="prescription.Subject" name="Subject" value="" readonly> -->
            
          </div>
              <div>
                <label for="exampleInputPassword1" class="form-label">Dosage</label>
                <input type="text" class="form-control" id="Dosage">
                  
                </div>
        </div>
      </div>
    </div>
    
    <div class="mb-3">
      <div class="item">
        <div class="name-item">
          <div>
            <label for="exampleInputPassword1" class="form-label">Doctor Diagnosis</label>
            <input type="text" class="form-control" id="exampleInputPassword1">
            
          </div>
          <div class="addbutton" >
            <button  class="btn btn-primary ">Add Medicine</button>
            
          </div>
              <!-- <div>
                <label for="exampleFormControlTextarea1" class="form-label">Comments</label>
                <textarea ngModel name="Comment" class="form-control" id="Comments" rows="3" ></textarea>
                  
                </div> -->
        </div>
      </div>
    </div>
  
  
    <div class="mb-3">
      <div class="item">
        <div class="name-item">
          <div>
            <label for="exampleFormControlTextarea1" class="form-label">Comments</label>
            <textarea ngModel name="Comment" class="form-control" id="Comments" rows="3" ></textarea>
            
          </div>
              <div>
              
                  
                </div>
        </div>
      </div>
    </div>
  
    <div class="submitbutton">
      <button type="submit" class="btn btn-primary ">Submit</button>
  
    </div>
  
    <br>
  
    <br>
  </form>
  
  
  <div class="card">
    <div class="card-header">
   
    </div>
    <div class="card-body">
  
        <div class="row">
            <div class="col-md-6">
                <h6> </h6>
            </div>
        </div>
  
       
        <div class="table-responsive">
            <table class="table"  >
                <thead>
                    <tr>
                        
                    <th>Medicine Name</th>
                    <th>Dosage </th>
       
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let medicine of medicines">
                    <td>{{medicine.Name}}</td>
                    <td>{{medicine.Dosage}}</td>
                    <!-- <td>{{medicine.Comment}}</td> -->
                    
                    
    
            </tbody>
            </table>
        </div>
    </div>
  
  
